
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1E9BC2;
    height: 80px;
}

body{
    margin: 0;
    padding: 0;
    user-select: none;
}
.logo{
    width: 100px;
    justify-content: flex-start;
}

.container-grid , .posicionamento-header{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.menu a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
}

.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.secao-jogos{
    background-color: white;
}

.banner{
    height: 400px;

    background-repeat: none;
    background-size: cover;
    margin: 0 !important;

}
.carrosel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1348px;
    height: 220px;
    margin: auto;
}

.cx-carrosel > img{
    height: 200px;
    width: 230px;
    margin: 10px 10px 10px 10px;
 
}


.button {
    background-color: yellow;
    border: none;
    color:black;
    padding: 1px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }


.jogos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jogos img{
    width: 250px;
}

.texto-sobre{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secao-partidas{
    background-color: #1E9BC2;
  text-align: center;
}
.texto-partidas h2 {
    text-align: center;
}

.partidas{
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
 margin: 0 !important;
}

.rodape{
background-color: grey;
padding: 49px;
text-align: center;
font-weight: bold;
font-size: small;

}
.posicionamento-header{
    position: relative;

}
.barras{
    display: none;
    width: 30px;
    }
@media screen  and (max-width:1200px) {
    .container-grid{
        width: 90%;
    }
    .menu{
        width: 460px;
    }
    .menu a{
        font-size: 16px;

    }


    .logo{
        width: 100px;
    }
}
@media screen  and (max-width:768px){
    h1{
        color: blue;
    }
    .barras{
        display: inline-block;
    }
    .menu{
        display: none;
        flex-direction: column;
        width: 200px;
        position:absolute;
        top: 0;
        right: 65px;
        background-color:#1E9BC2 ;
        
    }
    .menu a{
        text-align: center;
        padding: 15px;
    }
    .posicionamento-header{
        position:relative;
    }
    .logo{
        width: 50px;
    }
}

